# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / local data
*.log
data/
local/
secrets/
.env

# Build artifacts
dist/
build/
*.egg-info/